# Rust
#export RUST_LOG=anonymizer=DEBUG,librdkafka=WARN
export RUST_LOG=anonymizer=INFO,librdkafka=WARN
export WORKERS=1

# Kafka
export KAFKA__TOPIC=http_log
export KAFKA__BROKERS="localhost:9092"
export KAFKA__GROUP_ID=anonymizer-group

# Kafka producer
export KAFKA_PRODUCER_DELAY_MS=5000

# ClickHouse
export CH__URL="http://localhost:8124"
export CH__USER=default
export CH__PASSWORD=
export CH__DATABASE=default
export CH__TCP_KEEPALIVE=60
export CH__POOL_IDLE_TIMEOUT=2

# ClickHouse Inserter
#
# CH__MAX_ENTRIES:
#  - https://clickhouse.com/docs/en/operations/settings/settings#settings-max_insert_block_size
#  - https://docs.rs/clickhouse/latest/clickhouse/inserter/struct.Inserter.html#method.with_max_entries
export CH__LOG_TABLE=http_log
export CH__MAX_ENTRIES=1048575
export CH__INSERT_PERIOD=65

