# Rust
export RUST_LOG=anonymizer=DEBUG,librdkafka=WARN
export WORKERS=4

# Kafka
export KAFKA__TOPIC=http_log
export KAFKA__BROKERS="localhost:9092"
export KAFKA__GROUP_ID=anonymizer-group

# ClickHouse
export CH__URL="http://localhost:8124"
export CH__USER=default
export CH__PASSWORD=
export CH__DATABASE=default
