# Rust
export RUST_LOG=anonymizer=DEBUG,librdkafka=WARN
export WORKERS=1

# Kafka
export KAFKA__TOPIC=http_log
export KAFKA__BROKERS="localhost:9092"
export KAFKA__GROUP_ID=anonymizer-group

# Kafka producer
export KAFKA_PRODUCER_DELAY_MS=5000

# ClickHouse
export CH__URL="http://localhost:8124"
export CH__USER=default
export CH__PASSWORD=
export CH__DATABASE=default

export CH__LOG_TABLE=http_log
# https://clickhouse.com/docs/en/operations/settings/settings#settings-max_insert_block_size
#export CH__MAX_ENTRIES=500000
export CH__MAX_ENTRIES=10
export CH__INSERT_PERIOD=1

